<migration urlid="http://www.microsoft.com/migration/1.0/migxmlext/migtestapp">
    <component type="Application">
        <!-- 应用程序的名称 -->
        <displayName>TestApp</displayName>
        <!-- 指定环境变量存在于用户、系统或两者的上下文中 -->
        <environment context="UserAndSystem">
            <!-- 创建环境变量 -->
            <variable name="myVar1">
                <!-- 简单的文本值分配给变量 -->
                <text>value</text>
            </variable>
            <variable name="myAppExePath">
                <!-- 调用内置辅助函数，从注册表键获取值并将该值分配给变量 -->
                <script>MigXMLHelper.GetStringContent("Registry","HKLM\Software\MyApp\Installer
                    [EXEPATH]")</script>
            </variable>
        </environment>
        <role role="App">
            <detects>
                <!-- 所有这些检查必须为真，组件才能被检测到 -->
                <detect>
                    <!-- 调用内置辅助函数检查对象是否存在 -->
                    <condition>MigXMLHelper.DoesObjectExist("Registry","HKLM\Software\MyApp
                        [win32_version]")</condition>
                </detect>
                <detect>
                    <!-- 这些检查中的任何一个为真，组件才能被检测到 -->
                    <!-- 调用内置辅助函数检查文件版本是否匹配 -->
                    <condition>
                        MigXMLHelper.DoesFileVersionMatch("%MyAppExePath%","ProductVersion","8.*")</condition>
                    <condition>
                        MigXMLHelper.DoesFileVersionMatch("%MyAppExePath%","ProductVersion","9.*")</condition>
                </detect>
            </detects>
            <!-- 描述在迁移此组件期间将执行的规则以及上下文（用户、系统或两者） -->
            <rules context="UserAndSystem">
                <!-- 在应用源对象之前，在目标计算机上删除指定对象集中的对象 -->
                <destinationCleanup>
                    <!-- 描述要删除的对象列表的模式 -->
                    <objectSet>
                        <pattern type="Registry">HKCU\Software\MyApp\Toolbar\* [*]</pattern>
                        <pattern type="Registry">HKCU\Software\MyApp\ListView\* [*]</pattern>
                        <pattern type="Registry">HKCU\Software\MyApp [ShowTips]</pattern>
                    </objectSet>
                </destinationCleanup>
                <!-- 指定应迁移的对象集 -->
                <include>
                    <!-- 描述要包括的对象列表的模式 -->
                    <objectSet>
                        <pattern type="Registry">HKCU\Software\MyApp\Toolbar\* [*]</pattern>
                        <pattern type="Registry">HKCU\Software\MyApp\ListView\* [*]</pattern>
                        <pattern type="Registry">HKCU\Software\MyApp [ShowTips]</pattern>
                    </objectSet>
                </include>
                <!-- 指定不应迁移的对象集 -->
                <exclude>
                    <!-- 描述要从迁移中排除的对象列表的模式 -->
                    <objectSet>
                        <pattern type="Registry">HKCU\Software\MyApp [Display]</pattern>
                    </objectSet>
                </exclude>
                <!-- 包含规则，指定需要迁移的对象集 -->
                <include>
                    <!-- 对象集定义要包含的文件模式 -->
                    <objectSet>
                        <!-- 迁移指定文件夹中的特定文件 -->
                        <pattern type="File">%ProgramFiles%\USMTTestFolder\* [USMTTestFile.txt]</pattern>
                        <!-- 迁移指定文件夹中的所有文件 -->
                        <pattern type="File">%ProgramFiles%\USMTDIRTestFolder\* [*]</pattern>
                    </objectSet>
                </include>
                <!-- 包含规则，指定需要迁移的注册表项 -->
                <include>
                    <!-- 对象集定义要包含的注册表模式 -->
                    <objectSet>
                        <!-- 迁移用户特定的注册表键和其子项 -->
                        <pattern type="Registry">HKCU\Software\USMTTESTKEY\* [MyKey]</pattern>
                        <!-- 迁移本机的注册表键和其子项 -->
                        <pattern type="Registry">HKLM\Software\USMTTESTKEY\* [*]</pattern>
                    </objectSet>
                </include>
            </rules>
        </role>
    </component>
</migration>